body {
    background: whitesmoke;
}

.stories-container {
    max-width: 1200px;
    margin: 24px auto;
    position: relative;
}

.stories-container .previous-btn,
.stories-container .next-btn {
    width: 30px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background: #444;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
}

.stories-container .previous-btn {
    left: 8px;
}
.stories-container .next-btn {
    right: 8px;
}

.stories-container .story1 {
    height: 180px;
    width: 120px;
    flex-shrink: 0;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    color: white;
    padding: 5px;
}

.stories-container .story1 img {
    width: 100%;
    height: 70%;
    object-fit: cover;

}

.stories-container .stories {
    display: flex;
    gap: 8px;
    overflow: auto;
}

.stories-container .content {
    overflow-x: scroll;
    scrollbar-width: none;
}

.stories-container .content::-webkit-scrollbar {
    display: none;
}

.stories-container .author {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 16px;
    font-size: 15px;
    font-family: "Roboto" , sans-serif;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(transparent,#222 130%);
}